


 /* Mobile */
.logo {
  font-weight: bold;
  font-size:20px;
  margin-top: 15px;
  margin-left: 15px;
}
.app-header-mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  
}
.mobile-profile{
  display: flex;
  justify-content:flex-end ;
  margin-right: 10px;
  padding: 10px;
}

.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  
}

.sidebar{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  color:rgba(0,0,0,0.5);
  display: none;

}


.dashboard{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  color: rgba(0, 48, 135, 1);
  background-color: rgb(255, 255, 255);
  
}

.calendar{
  display:flex;
  flex-direction: column;
  width: 100%;
}


/* Tablets  */
@media (min-width: 768px) {
.logo {
  font-weight: bold;
  font-size: large;
}
.app-header-mobile{
  display: none;
}

.app{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95vh;
  
}

.sidebar{
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  color:rgba(0,0,0,0.5)

}


.dashboard{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  color: rgba(0, 48, 135, 1);
  background-color: rgb(255, 255, 255);
  
}

.calendar{
  display:flex;
  flex-direction: column;
  width: 40%;
}



}

/* Desktops */
@media (min-width: 1024px) {
.app-header-mobile{
  display: none;
}
.logo {
  
  font-weight:800;
  font-size: x-large;
}



.app{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95vh;
  
}

.sidebar{
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  color:rgba(0,0,0,0.5)

}


.dashboard{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  color: rgba(0, 48, 135, 1);
  background-color: rgb(255, 255, 255);
  
}

.calendar{
  display:flex;
  flex-direction: column;
  width: 40%;
}


}