/* Mobile */
.profile{
  
  display: flex;
  justify-content:flex-end ;
  margin-right: 10px;
  padding: 10px;

}

.calendar{
  font-size: small;
}
.calendar-view{
  padding:10px 20px 10px 20px;
  color: rgba(0,48,135,1);
  font-weight: bold;
}
.calender-view-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
.calendar-day{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: x-small;
  border-radius: 10px;
  text-align: center;
}

.calendar-week-view{
  display: flex;
  flex-direction: row;
  gap:10px
}

.appointments{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:5px 20px 5px 20px;
  
}

.simple-appoitment-cards{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:10px;
}

.detailed-appointment-card{
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  font-size:x-small;
  
}

.simple-appointment-card{
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 20px;
  padding: 10px;
  font-size: x-small;
}

.appointment-card-image{
  height: 20px;
  width: 20px;
  overflow: hidden;
}




/* Tablets */
@media (min-width: 768px) {
  .profile{
  
  display: flex;
  justify-content:flex-end ;
  margin-right: 10px;
  padding: 10px;

}


.calendar{
  font-size: small;
}
.calendar-view{
  padding:10px 20px 10px 20px;
  color: rgba(0,48,135,1);
  font-weight: bold;
}
.calender-view-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
.calendar-day{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: x-small;
  border-radius: 10px;
  text-align: center;
}

.calendar-week-view{
  display: flex;
  flex-direction: row;
  gap:10px
}

.upcoming-schedule{
  padding:5px 20px 10px 20px;
  color: rgba(0, 48, 135, 1);
}

.eachday-listing{
  padding: 5px;
  font-size: small;
}


.appointments{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:5px 20px 5px 20px;
  
}

.simple-appoitment-cards{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:10px;
}

.detailed-appointment-card{
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  font-size:x-small;
  
}

.simple-appointment-card{
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 20px;
  padding: 10px;
  font-size: x-small;
}

.appointment-card-image{
  height: 20px;
  width: 20px;
  overflow: hidden;
}


}




/* Laptops */
@media (min-width: 1200px) {
 .profile{
  
  display: flex;
  justify-content:flex-end ;
  margin-right: 10px;
  padding: 10px;

}


.calendar{
  font-size: small;
}
.calendar-view{
  padding:10px 20px 10px 20px;
  color: rgba(0,48,135,1);
  font-weight: bold;
}
.calender-view-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
.calendar-day{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: x-small;
  border-radius: 10px;
  text-align: center;
}

.calendar-week-view{
  display: flex;
  flex-direction: row;
  gap:10px
}

.upcoming-schedule{
  padding:5px 20px 10px 20px;
  color: rgba(0, 48, 135, 1);
}

.eachday-listing{
  padding: 5px;
  font-size: small;
}


.appointments{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:5px 20px 5px 20px;
  
}

.simple-appoitment-cards{
  display:flex;
  flex-direction: row;
  gap:20px;
  padding:10px;
}

.detailed-appointment-card{
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  font-size:x-small;
  
}

.simple-appointment-card{
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 20px;
  padding: 10px;
  font-size: x-small;
}

.appointment-card-image{
  height: 20px;
  width: 20px;
  overflow: hidden;
}


}