
 /* Mobile */
.logo {
  font-weight: bold;
  font-size: medium;
}

.search-bar{
  
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}


.dashboard{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  color: rgba(0, 48, 135, 1);
  background-color: rgb(255, 255, 255);
  
}
.dashboard-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
 
}
.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}
.anatomy-section{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  background-color: rgba(0, 48, 135, 0.05);
  border-radius: 20px;
  position: relative;
}

.anatomy-image{
  height: 100%;
  width: 100%;
}


.progress-container{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.progress-bar{
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.health-status-card{
  background-color: rgba(0, 48, 135, 0.05);
  border-radius: 20px;
  padding: 10px;
  font-size: small;
}



/* Tablets  */
@media (min-width: 768px) {
.logo {
  font-weight: bold;
  font-size: large;
}

.search-bar{
  
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}


.dashboard{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  color: rgba(0, 48, 135, 1);
  background-color: rgb(255, 255, 255);
  
}
.dashboard-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
 
}
.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}
.anatomy-section{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  background-color: rgba(0, 48, 135, 0.05);
  border-radius: 20px;
  position: relative;
}

.anatomy-image{
  height: 100%;
  width: 100%;
}


.progress-container{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.progress-bar{
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.health-status-card{
  background-color: rgba(0, 48, 135, 0.05);
  border-radius: 20px;
  padding: 10px;
  font-size: small;
}


}

/* Desktops */
@media (min-width: 1200px) {


.search-bar{
  
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}


.dashboard{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  color: rgba(0, 48, 135, 1);
  background-color: rgb(255, 255, 255);
  
}
.dashboard-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
 
}
.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}
.anatomy-section{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  background-color: rgba(0, 48, 135, 0.05);
  border-radius: 20px;
  position: relative;
}

.anatomy-image{
  height: 100%;
  width: 100%;
}


.progress-container{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 48, 135, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.progress-bar{
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.health-status-card{
  background-color: rgba(0, 48, 135, 0.05);
  border-radius: 20px;
  padding: 10px;
  font-size: small;
}
}