
 /* Mobile */
.logo {
  font-weight: bold;
  font-size: medium;
}

.search-bar{
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 90%;
}

.search-icon{
  width: 5%;
}


.search-input{
  border: none ;
  outline: none;
  padding: 0 10px 0 10px;
  width: 80%;
}

.dashboard-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 95%;
 
}
.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}


/* Tablets  */
@media (min-width: 768px) {
.logo {
  font-weight: bold;
  font-size: large;
}

.search-bar{
  
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  
}

.search-icon{
  width: 5%;
}
.search-input{
  border: none ;
  outline: none;
  padding: 0 10px 0 10px;
  width: 80%;
}

.dashboard-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
 
}
.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}


}

/* Desktops */
@media (min-width: 1200px) {


.search-bar{
  width: 95%;
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}
.search-icon{
  width: 5%;
}
.search-input{
  border: none ;
  outline: none;
  padding: 0 10px 0 10px;
  width: 85%;
}

.dashboard-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
 
}
.dashboard-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

}