
 /* Mobile */

.side-main-options{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 20px;
}

.side-element{
  display: flex;
  flex-direction: row;
  padding: 10px;
  
}




/* Tablets  */
@media (min-width: 768px) {

.side-main-options{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 20px;
}

.side-element{
  display: flex;
  flex-direction: row;
  padding: 10px;
  
}




}

/* Desktops */
@media (min-width: 1200px) {

.side-main-options{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 20px;
}

.side-element{
  display: flex;
  flex-direction: row;
  padding: 10px;
  
}

}